<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Files</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Drugscreen Analysis</h1>
    </header>
    
    <main>
        <p>Files Generated Successfully</p>

        <h3>Input File</h3>
        <p>{{ input_file_name }}</p>
        
        <h3>Download Excel file Links:</h3>

        <ul>
            
            {% for output_file_name in output_file_names %}
                <li><a href="{{ url_for('download_file', filename=output_file_name) }}" download>{{ output_file_name }}</a></li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 James's Website. All rights reserved.</p>
    </footer>
</body>
</html>