<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Sheet Combiner</title>
    <link rel="stylesheet" href="../static/styles.css">
    
</head>
<body>
    <header>
        <h1>Drugscreen Analysis</h1>
    </header>

    <main>
        <section>
        <h2>Excel Sheet analyiser</h2>
        <form action="/combine_sheets" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">

                <div>
                    <input type="radio" id="PL1" name="fav_language" value="PL1" checked>
                    <label for="PL1">PL1</label><br>
                    <input type="radio" id="XXXX" name="fav_language" value="XXXX">
                    <label for="XXXX">XXXX</label><br>
                    <!-- Add a hidden input field to store the selected radio button's ID -->
                    <input type="hidden" name="selected_radio_id" id="selected_radio_id">
                </div>

                <div>
                    <label for="input_file">Select Excel File:</label>
                    <input type="file" name="input_file" id="input_file" accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                </div>

                <input class="gray_button" type="submit" value="Analyis">

            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 James's Website. All rights reserved.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>